.banner {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/ns8lmLldA7A);
    background-size: cover;
    background-position: center;
    padding: 120px;
    color: whitesmoke;
}