.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card-header {
    text-align: center;
}

.card {
    width: 240px;
    height: 260px;
    border-radius: 1px;
    border: 1px solid lightgrey;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    line-height: 5px;
    margin: 12px;
    text-align: center;
    font-weight: lighter;
}


.card-pic {
    padding: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 120px;
    width: 120px;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: 120px;
    overflow: hidden;
    padding: 12px;
}

.comments {
    width: 100%;
    text-align: center;
}

.card-comment {
    display: flex;
    align-items: center;
    border-radius: 1px;
    border: 1px solid lightgrey;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    pad: 30px;
}

.card-comment-text {
    padding: 24px;
    text-align: left;
    font-weight: lighter;
    color: grey;
}